*.deps
*.o
*.dwo
*.sublime-project
*.sublime-workspace
.cache/
backup
build/
compile_commands.json
km*.tgz
km*/
latc
latc_x86_64
lattests/
malysa_latte_tests.tgz
malysa_latte_tests/
mrjp-tests/
run-bnfc
src/ast/build.cc
src/ByBnfc/Lexer.c
src/ByBnfc/Parser.c
src/persistent_map_tester
